// Import SCSS files
@use './variables' as *;
@use './mixins' as *;
@use './reset' as *;

// Global styles
body {
  min-height: 100vh;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
