@use "@styles/variables" as *;
@use "@styles/mixins" as *;

.timer {
  color: white;
  font-size: 11px;
  line-height: 1;
  font-weight: 600;
  font-family: monospace;
  white-space: nowrap;
  padding: 7px 10px;
  border-radius: 10px;
  border: 1px solid rgba(28, 29, 32, 0.08);
  background: rgba(28, 29, 32, 0.35);

  @include desktop {
    padding: 10px 14px;
    font-size: 14px;
  }
}
