@use "@styles/variables" as *;
@use "@styles/mixins" as *;

.title {
  font-weight: 600;
  line-height: 1.5;
}

.h1 {
  font-size: 30px;

  @include tablet {
    font-size: 32px;
  }

  @include desktop {
    font-size: 46px;
  }
}

.h2 {
  font-size: 28px;

  @include tablet {
    font-size: 36px;
  }

  @include desktop {
    font-size: 48px;
  }

  @include large-desktop {
    font-size: 56px;
  }
}

.h3 {
  font-size: 16px;

  @include desktop {
    font-size: 22px;
  }
}
